body {
  font-family: Arial;
  padding: 10px;
  width: 250px;
}

button {
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
}

#output {
  margin-top: 10px;
  font-size: 12px;
  word-wrap: break-word;
}